@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}

.nigga {
  background-color: black;
  width: 100%;
  height: auto;
}

.emptyphoto {
  margin-top: 70px;
}

.emptytext {
  margin-top: 150px;
}

.signinbtn {
  margin-top: 5px;
  width: 200px;
}

.signupbtn {
  margin-top: 5px;
  width: 200px;
}

.side {
  border-left: 2px dashed rgb(182, 182, 182);
  /* border-right: 1px solid rgb(182, 182, 182); */
  /* text-align: center; */
}

.cartProduct {
  /* background-color: aqua; */
  margin-top: 30px;
  width: 900px;
  height: 180px;
  border-radius: 30px;
  border: 2px solid rgb(126, 126, 126);
}

.producttitle {
  margin-top: 30px;
  margin-right: 10px;
}

.vat {
  color: rgb(77, 77, 77);
}

.productdesc1 {
  margin-left: 35px;
}

.freespace {
  height: 50px;
}

.chckout {
  /* width: 250px;
  height: 50px; */
  font-size: 20px;
  margin-left: 270px;
}
