@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
  font-family: "Gabarito", serif;
  color: rgb(49, 49, 49);
}

.title {
  text-align: center;
  padding-top: 100px;
}

.viewport {
  height: 50vh;
}

.txtdecounderline {
  text-decoration: underline 2px red;
}

.signup {
  color: red;
  text-decoration: underline;
}

.signin {
  color: blue;
  text-decoration: underline;
}

.box {
  /* background-color: rgba(0, 0, 0, 0.178); */
  height: 500px;
  width: 600px;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 20px;
}

.maindiv {
  height: 60vh;
}

.borderradius {
  border-radius: 7px;
}

.notextdeco {
  text-decoration: none;
  color: black;
}

/*  */

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
