@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    font-family: "Gabarito", serif;
}

.Product {
    height: 390px;
    width: 250px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 10px;
}

.alignment {
    text-align: center;
}

.productxt {
    font-size: 18px;
    font-weight: 800px;

}

.price {
    color: red;
}

.stars {
    font-size: 15px;
    padding-top: 6px;
}

.curr {
    font-size: 13px;
    color: rgba(29, 29, 29, 0.877);
}

.discountpercentage {
    color: green;
}

.oldprice {
    color: rgba(0, 0, 0, 0.678);
}

.cardlinking {
    text-decoration: none;
    text-transform: none;
}

.blacking {
    color: black;
}

.navsearch {
    width: 250px;
}

.timerr {
    font-size: 80px;
}

.redtxt {
    color: red;
}

.underlinedeco {
    text-decoration: underline;
}